@font-face {
  font-family: 'Chillax-Light';
  src: url('./Assets/fonts/Chillax-Extralight.woff2') format('woff2');
}
@font-face {
  font-family: 'Chillax-Regular';
  src: url('./Assets/fonts/Chillax-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Chillax-Medium';
  src: url('./Assets/fonts/Chillax-Medium.woff2') format('woff2');
}

/* RESET/NORMALISE */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* CSS VARIABLES */

:root {
  --main: #034078;
  --light: #1282a2;
  --dark: #001f54;
  --background: #0a1128;
  --white: #fefcfb;
  --warning: #cc3300;
}

body {
  color: var(--white);
  font-size: 16px;
  position: relative;
  height: 100%;
  background-color: #222;
}

.container {
  display: flex;
  height: 100%;
  max-height: 100vh;
  flex-direction: column;
  align-items: center;
  margin: auto;
  overflow: hidden;
  max-width: 1600px;
}
@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}
/* BACKGROUND */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 250px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  max-width: 100%;
  max-height: 100%;
  width: 800px;
  height: 800px;
  overflow: hidden;
  position: absolute;
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(var(--light), var(--dark));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: -1;
  opacity: 0.6;
}

/* HEADER */
header {
  position: relative;
  width: 100%;
  min-width: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
}
.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
h1 {
  font-family: 'Chillax-Light';
  color: var(--white);
  font-size: 48px;
  text-align: end;
}
.header__list {
  display: none;
  font-family: 'Chillax-Regular';
  font-size: 18px;
  padding-top: 8px;
  text-align: end;
  list-style: none;
}
@media (min-width: 800px) {
  header {
    height: 100%;
  }
  .header__container {
    position: absolute;
    width: 100%;
    top: 20%;
    padding: 0;
  }
  .header__list {
    display: block;
  }
}
.header__icon {
  align-self: end;
  padding: 5px;
}
.icon {
  filter: invert(100%) sepia(82%) saturate(475%) hue-rotate(290deg)
    brightness(107%) contrast(99%);
}
h2 {
  font-family: 'Chillax-Light';
  text-align: center;
  font-size: 14px;
}

/* CALCULATOR */
main {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-self: start;
  align-self: start;
}

.calc__container {
  background-color: var(--background);
  width: 400px;
  padding: 1px;
}
.calc__display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 146px;
  font-size: 24px;
  text-align: end;
  padding: 5px 20px 20px 20px;
}
.calc__history {
  font-family: 'Chillax-Regular';
  color: #fefcfbc9;
}
.calc__result {
  font-family: 'Chillax-Medium';
  font-size: 48px;
}
.calc__grid {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.calc__row {
  display: flex;
  gap: 1px;
  justify-content: space-between;
  flex: 1 1 85px;
}
.calc__button {
  flex: 1 1 90px;
  margin-bottom: 0.5px;
  padding: 0;
  border: 0;
  background-color: var(--main);
  font-family: 'Chillax-Regular';
  font-size: 28px;
  color: var(--white);
  z-index: 2;
  transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: background-color 0.3s cubic-bezier(0, 0.55, 0.45, 1);
}
.calc__button:hover {
  background-color: var(--dark);
}
.calc__button:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 3px 0.25px var(--background) inset;
}
.calc__button__warning {
  transform: scale(0.95);
  background-color: var(--warning) !important;
  box-shadow: 0px 0px 3px 0.25px var(--background) inset;
}
.calc__number {
  font-family: 'Chillax-Medium';
}
