@font-face {
  font-family: 'Chillax-Light';
  src: url('./Assets/fonts/Chillax-Extralight.woff2') format('woff2');
}
@font-face {
  font-family: 'Chillax-Regular';
  src: url('./Assets/fonts/Chillax-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Chillax-Medium';
  src: url('./Assets/fonts/Chillax-Medium.woff2') format('woff2');
}

/* RESET/NORMALISE */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

/* CSS VARIABLES */

:root {
  --main: #034078;
  --light: #1282a2;
  --dark: #001f54;
  --background: #0a1128;
  --white: #fefcfb;
  --warning: #cc3300;
}

body {
  color: var(--white);
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #222;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 700px) {
  .container {
    flex-direction: row;
  }
}
/* BACKGROUND */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 250px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  max-width: 100%;
  max-height: 100%;
  width: 800px;
  height: 800px;
  left: calc(50% - 400px);
  top: calc(50% - 400px);
  overflow: hidden;
  position: absolute;
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(var(--light), var(--dark));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: -1;
  opacity: 0.6;
}

/* HEADER */
header {
  position: relative;
  min-width: 360px;
  height: 100%;
}

h1 {
  position: relative;
  padding: 10px;
  font-family: 'Chillax-Light';
  color: var(--white);
  font-size: 3em;
  text-align: end;
}
@media (min-width: 700px) {
  h1 {
    position: absolute;
    top: -30vh;
    flex-direction: row;
  }
}
h2 {
  font-family: 'Chillax-Light';
  text-align: center;
  font-size: 14px;
}
/* CALCULATOR */
main {
  display: flex;
  position: relative;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-self: start;
  align-self: start;
}

.calc-container {
  background-color: var(--background);
  width: clamp(360px, 400px, 420px);
}
.calc-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 146px;
  font-size: 22px;
  text-align: end;
  padding: 5px 20px 20px 20px;
}
.calc-history {
  font-family: 'Chillax-Regular';
  color: #fefcfbc9;
}
.calc-result {
  font-family: 'Chillax-Medium';
  font-size: 42px;
}
.calc-table {
  width: 100%;
}
.calc-row {
  display: flex;
  justify-content: center;
  gap: 3px;
}
.calc-row td {
  flex: 1;
}
.calc-button {
  width: 100%;
  height: 86px;
  margin-bottom: 3px;
  padding: 0;
  border: 0;
  background-color: var(--main);
  font-family: 'Chillax-Regular';
  font-size: 1.75em;
  color: var(--white);
  z-index: 2;
  transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: background-color 0.3s cubic-bezier(0, 0.55, 0.45, 1);
}
.calc-button:hover {
  background-color: var(--dark);
}
.calc-button:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 3px 0.25px var(--background) inset;
}
.calc-button-warning {
  transform: scale(0.95);
  background-color: var(--warning) !important;
  box-shadow: 0px 0px 3px 0.25px var(--background) inset;
}
.calc-number {
  font-family: 'Chillax-Medium';
}
